{% extends 'base.html' %}{% block content %}
<form method="POST" onsubmit="return validateForm()">
<input name="title" value="{{expense.title}}" required placeholder="Title">
<input type="number" step="0.01" name="amount" required>
<select name="category"><option>Food</option><option>Transport</option><option>Shopping</option><option>Bills</option><option>Entertainment</option><option>Education</option><option>Health</option><option>Others</option></select>
<select name="payment"><option>Cash</option><option>UPI</option><option>Debit Card</option><option>Credit Card</option><option>Net Banking</option></select>
<input type="date" name="date"><textarea name="description"></textarea>
<button>Add Expense</button></form>{% endblock %}